In [189]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

pd.set_option('display.height', 1000)
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)
pd.set_option('display.float_format',lambda x:'%.3f' % x)
%matplotlib inline
plt.rcParams['figure.figsize'] = (5, 5)

height has been deprecated.

In [176]:
def findNulls(df):
    print "cell with missing values: %d" % sum(df.isnull().values.ravel())
    print "rows with missing values somwhere: %d" % sum([True for idx,row in df.iterrows() if any(row.isnull())])
    
def getUniques(columns,df):
    for col in columns:
        print '%s distincts\n' % col
        print df[col].unique()
        
def getDataFrameStats(df):
    print 'Contains %d elements' % df.shape[0]
    findNulls(df)
    
def getDistinct(df,col):
    return len(df[col].unique())

def isEnglish(s):
    try:
        s.encode(encoding='utf-8').decode('ascii')
    except UnicodeDecodeError:
        return False
    else:
        return True

In [4]:
df1 = pd.read_csv('./dataset/CSC_LSanalysis_21.02.18.csv',index_col=0)
df2 = pd.read_csv('./dataset/CSC_SFDC_Leads_Oct1-Feb21_All.csv',index_col=0)

/Users/alexanderpan/anaconda/lib/python2.7/site-packages/IPython/core/interactiveshell.py:2723: DtypeWarning: Columns (18,28,32,39,45,60,69,77,80,91,92,93,103,106,107,108,109,110,112,113,114,115,116,117,124,130,135,136,141,142,143,144,145,148,150,151,152,153,154,155,157,158,159,162,163,164,165,166,167,168,169,170,171,172,174,175,176,186,187,188,189) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [6]:
cols = ['Email Address','Country','Job Level - Scoring Only','Job Function - Scoring Only',
        'Region','Title','Job Title Class','Decision Maker Type','Job Level','State or Province',
        'Business Relation Status','Rep Company Employees','Rep Vertical Market','Rep Account Type',
        'Purchase Role','Rep Interests Networking','Persona','Rep Number Of PCs','Job Role','Department',
        'Technical Score','Engagement Score','Rep Line Of Business','Rep Company Sites Country',
        'Subject Interest 1','Rep Tech Responsibility','Industry','Rep Number Of Servers',
        'Rep Number Of Phones']

cols2 = ['Email','Lead Record Type','Lead Status','Converted'] #taking out create date
df = df1[cols].merge(df2[cols2],how='inner',left_on='Email Address',right_on='Email')
drop_cols = ['Email Address','Email']
df.drop(drop_cols,axis=1,inplace=True)

In [48]:
region = ['AMER','GREATER CHINA','APJ','EMEAR']

In [143]:
df_AMER = df.loc[df['Region']=='AMER']
df_CHINA = df.loc[df['Region']=='GREATER CHINA']
df_APJ = df.loc[df['Region']=='APJ']
df_EMEAR = df.loc[df['Region']=='EMEAR']

In [151]:
cols = df_AMER.columns.tolist()
cols.remove('Converted')
totes = df_AMER.shape[0]
col = []
for column in cols:
    N = getDistinct(df_AMER,column)
    n_null = df_AMER[column].isnull().sum()
    not_null = float(totes-n_null)/totes
    if N < 1000 and not_null >= .7:
        print '%s: %d %d' %(column,N,n_null)
        col.append(column)
DF1  = df_AMER[col]

Country: 68 119
Job Level - Scoring Only: 28 259
Job Function - Scoring Only: 87 259
Region: 1 0
Job Title Class: 37 17899
Decision Maker Type: 5 18133
Job Level: 6 20311
State or Province: 703 26675
Lead Record Type: 6 0
Lead Status: 21 0

In [84]:
print df_CHINA.shape[0]
print (df_CHINA['Converted'] == 1).sum()

24855
3051

In [177]:
cols = df_CHINA.columns.tolist()
cols.remove('Converted')
totes = df_CHINA.shape[0]
col = []
temp = []
for column in cols:
    N = getDistinct(df_CHINA,column)
    n_null = df_CHINA[column].isnull().sum()
    not_null = float(totes-n_null)/totes
    encoded = [unicode(x,'utf-8') for x in df_CHINA[column].unique() if pd.notnull(x)]
    english=0
    if N < 1000 and not_null >= .7:
        for label in encoded:
            if not isEnglish(label):
                temp.append(column)
                break
            else:
                english = 1
        
        if english == 1:
            print '%s: %d %d' %(column,N,n_null)
            col.append(column)
                
DF2  = df_CHINA[col]

Country: 13 17
Job Level - Scoring Only: 22 32
Job Function - Scoring Only: 54 32
Region: 1 0
Job Title Class: 31 4458
Decision Maker Type: 5 4566
Business Relation Status: 7 1252
Lead Record Type: 5 0
Lead Status: 19 0

In [178]:
print temp
DF2.columns.tolist()

[]

['Country',
 'Job Level - Scoring Only',
 'Job Function - Scoring Only',
 'Region',
 'Job Title Class',
 'Decision Maker Type',
 'Business Relation Status',
 'Lead Record Type',
 'Lead Status']

In [85]:
print df_APJ.shape[0]
print (df_APJ['Converted'] == 1).sum()

48461
1817

In [184]:
cols = df_APJ.columns.tolist()
cols.remove('Converted')
totes = df_APJ.shape[0]
col = []
temp = []
for column in cols:
    N = getDistinct(df_APJ,column)
    n_null = df_APJ[column].isnull().sum()
    not_null = float(totes-n_null)/totes
    encoded = [unicode(x,'utf-8') for x in df_APJ[column].unique() if pd.notnull(x)]
    english=0
    if N < 1000 and not_null >= .7:
        for label in encoded:
            if not isEnglish(label):
                temp.append(column)
                break
            else:
                english = 1
        
        if english == 1:
            print '%s: %d %d' %(column,N,n_null)
            col.append(column)
                
DF3  = df_APJ[col]

Country: 42 21
Job Level - Scoring Only: 26 45
Job Function - Scoring Only: 70 45
Region: 1 0
Job Title Class: 31 11740
Decision Maker Type: 5 11753
Lead Record Type: 6 0
Lead Status: 21 0

In [185]:
DF3.columns.tolist()

['Country',
 'Job Level - Scoring Only',
 'Job Function - Scoring Only',
 'Region',
 'Job Title Class',
 'Decision Maker Type',
 'Lead Record Type',
 'Lead Status']

In [86]:
print df_EMEAR.shape[0]
print (df_EMEAR['Converted'] == 1).sum()

39190
1375

In [190]:
cols = df_EMEAR.columns.tolist()
cols.remove('Converted')
totes = df_APJ.shape[0]
col = []
for column in cols:
    N = getDistinct(df_APJ,column)
    n_null = df_EMEAR[column].isnull().sum()
    not_null = float(totes-n_null)/totes
    encoded = [unicode(x,'utf-8') for x in df_APJ[column].unique() if pd.notnull(x)]
    english=0
    if N < 1000 and not_null >= .7:
        for label in encoded:
            if not isEnglish(label):
                temp.append(column)
                break
            else:
                english = 1
        
        if english == 1:
            print '%s: %d %d' %(column,N,n_null)
            col.append(column)
                
DF4  = df_EMEAR[col]

Country: 42 57
Job Level - Scoring Only: 26 74
Job Function - Scoring Only: 70 74
Region: 1 0
Job Title Class: 31 10595
Decision Maker Type: 5 10599
Job Level: 5 11142
Lead Record Type: 6 0
Lead Status: 21 0

In [191]:
DF4.columns.tolist()

['Country',
 'Job Level - Scoring Only',
 'Job Function - Scoring Only',
 'Region',
 'Job Title Class',
 'Decision Maker Type',
 'Job Level',
 'Lead Record Type',
 'Lead Status']

In [87]:
print df_AMER.shape[0]
print (df_AMER['Converted'] == 1).sum()

96983
1792